*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height:60px;
}
.container{
    width: 1000px;
    height:100%;
   
    margin-left: auto;
    margin-right: auto;

}
header > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#logo{
    width:131px;
}
#navlist{
    display: flex;
    flex-direction: row;
    gap:24px;
}
.navlink{
    color:white;
    text-decoration:none;
}
.section1{
    background-color:#ffcdd2;
    padding-top:42px;
    padding-bottom:42px;
}
.section1 > .container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section1left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
h1{
    font-size: 38px;
}
p{
    font-size: 28px;
}
.shortp{
    font-size: 12px;;
}
.section1links{
    display:flex;
    flex-direction: row;
    gap:18px;
}
.getlink{
    background-color: black;
    color: white;
    padding-left:20px;
    padding-right: 20px;
    padding-top:12px;
    padding-bottom:12px;
    border-radius: 50px;
    text-decoration: none;


}
.viewlink{
    color:black;
    padding-left:20px;
    padding-right: 20px;
    padding-top:12px;
    padding-bottom:12px;
    border-radius: 50px;
    border:1px black solid;
    text-decoration: none;}
    
footer{
    background-color: black;
    height:100px;
}
.footerlogo1{
    width:30px;
}
#footerlogo{
    width: 100px;
    
}
#footerleft{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap:30px
}